<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>driverServlet</servlet-name>
        <servlet-class>com.tsystems.cargotransportations.presentation.DriverServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>driverServlet</servlet-name>
        <url-pattern>/driverServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>truckServlet</servlet-name>
        <servlet-class>com.tsystems.cargotransportations.presentation.TruckServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>truckServlet</servlet-name>
        <url-pattern>/truckServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>cargoServlet</servlet-name>
        <servlet-class>com.tsystems.cargotransportations.presentation.CargoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>cargoServlet</servlet-name>
        <url-pattern>/cargoServlet</url-pattern>
    </servlet-mapping>

</web-app>