<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- Field of FILTERS declaration -->

    <filter>
        <filter-name>requestLoggingFilter</filter-name>
        <filter-class>com.tsystems.cargotransportations.presentation.filter.RequestLoggingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>requestLoggingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>authenticationFilter</filter-name>
        <filter-class>com.tsystems.cargotransportations.presentation.filter.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>authenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>adminFilter</filter-name>
        <filter-class>com.tsystems.cargotransportations.presentation.filter.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>adminFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>userFilter</filter-name>
        <filter-class>com.tsystems.cargotransportations.presentation.filter.UserFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>userFilter</filter-name>
        <url-pattern>/user/*</url-pattern>
    </filter-mapping>

    <!-- Field of SERVLETS declaration -->

    <servlet>
        <servlet-name>driverServlet</servlet-name>
        <servlet-class>com.tsystems.cargotransportations.presentation.DriverServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>driverServlet</servlet-name>
        <url-pattern>/admin/driverServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>truckServlet</servlet-name>
        <servlet-class>com.tsystems.cargotransportations.presentation.TruckServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>truckServlet</servlet-name>
        <url-pattern>/admin/truckServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>cargoServlet</servlet-name>
        <servlet-class>com.tsystems.cargotransportations.presentation.CargoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cargoServlet</servlet-name>
        <url-pattern>/admin/cargoServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>orderServlet</servlet-name>
        <servlet-class>com.tsystems.cargotransportations.presentation.OrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>orderServlet</servlet-name>
        <url-pattern>/admin/orderServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>routeServlet</servlet-name>
        <servlet-class>com.tsystems.cargotransportations.presentation.RouteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>routeServlet</servlet-name>
        <url-pattern>/admin/routeServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userServlet</servlet-name>
        <servlet-class>com.tsystems.cargotransportations.presentation.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userServlet</servlet-name>
        <url-pattern>/admin/userServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userServlet</servlet-name>
        <url-pattern>/user/userServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.tsystems.cargotransportations.presentation.authentication.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>com.tsystems.cargotransportations.presentation.authentication.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/admin/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/user/logoutServlet</url-pattern>
    </servlet-mapping>


    <!-- Field of WELCOME PAGE declaration -->

    <!-- -->

</web-app>